
.c1{
    width: 51%;
    order: 1;
}

.c6{
    width: 45%;
    height: 100%;
    order: 2;
}

.c2{
    width: 51%;
    /* order: 3; */
}

.c3{
    align-self: baseline;
    width: 51%;
    /* order: 4;   */
}

.c4{
    flex-direction: column;
    align-self: flex-end;
    width: 51%;
    /* order: 5;   */
}

.c5{
    width: 51%;
    /* order: 6; */
}

