
.container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
        "foto1 foto1 texto"
        "foto2 foto2 texto"
        "foto3 foto4 texto"
        "foto5 foto5 texto";
    grid-gap: 0.2rem;
}

.c1 {
    grid-area: foto1;
} 
.c2{
    grid-area: foto2;
}  
.c3{
    grid-area: foto3;
} 
.c4{
    grid-area: foto4;
} 
.c5{
    grid-area: foto5;
} 
.c6 {  
    grid-area: texto;
}

