
.c1{
    width: 30%;
    order: 1;
}

.c2{
    width: 40%;
    order: 2;
}

.c3{
    width: 30%;
    order: 3;
}

.c4{
    width: 50%;
    order: 4;
}

.c5{
    width: 50%;
    order: 5;
}

@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }