*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
    
}

body{
    font-size: 1.6rem;
    
}

.container{
    display: flex;
    flex-wrap: wrap; 
}

.titulo{
    font-family: 'Berkshire Swash', cursiva;
}

footer{
    margin: 0 auto;
    text-align: center;
    font-family: 'Berkshire Swash', cursiva;
}

.c1 , .c2 , .c3 , .c4 , .c5, .c6 {
    width: 100%;
    min-width: 150px;
    height: 17%;
    
}

p{
    font-family: 'Dancing Script', cursive;
    padding: 1rem;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
}

h2{
    margin: 1rem;
    text-align: center;
}

.c1{
    background-color: #ED9372;    
}

.c2{
    background-color: #F891FA;    
}

.c3{
    background-color: #76E0DA;    
}

.c4{
    background-color: #E2F777;    
}

.c5{
    background-color: #EDA572;    
}

.c6{
    background-color: #e5ecec; 
    color: #1f2020;  
}