*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

html h1 {
    font-family: 'Redressed', cursive;
}

body{
    font-size: 1.6rem;
}

.container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
        "foto1 "
        "foto2 "
        "foto3 "
        "foto4 "
        "foto5"
        "texto";
    grid-gap: 0.2rem;
}


footer{
    margin: 0 auto;
    text-align: center;
    font-family: 'Berkshire Swash', cursiva;
}

.c1 {
    grid-area: foto1;
} 
.c2{
    grid-area: foto2;
}  
.c3{
    grid-area: foto3;
} 
.c4{
    grid-area: foto4;
} 
.c5{
    grid-area: foto5;
} 
.c6 {  
    grid-area: texto;
}

p{
    font-family: 'Dancing Script', cursive;
    padding: 1rem;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
}

h2{
    margin: 1rem;
    text-align: center;
}

.c1{
    background-color: #ED9372;    
}

.c2{
    background-color: #F891FA;    
}

.c3{
    background-color: #76E0DA;    
}

.c4{
    background-color: #E2F777;    
}

.c5{
    background-color: #EDA572;    
}

.c6{
    background-color: #e5ecec; 
    color: #1f2020;  
}