.c1{
    width: 25%;
    order: 1;
}

.c2{
    width: 25%;
    order: 2;
}

.c3{
    width: 50%;
    order: 4;
}

.c4{
    width: 50%;
    order: 5;
}

.c5{
    width: 50%;
    order: 6;
}

.c6{
    width: 50%;
    order: 3;
    height: 100%;
}
